/*select text enable/disable*/

.epic-ui-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*svg elements*/

.epic-ui-svg-sortup {
    position: fixed;
    width: 10px;
    height: auto;
    padding: 3px 0 0 10px;
    content: url(svg/sort-up-balck.svg);
}
.epic-ui-svg-sortdown {
    position: fixed;
    width: 10px;
    height: auto;
    padding: 3px 0 0 10px;
    content: url(svg/sort-down-black.svg);
}
.epic-ui-svg-leftArrow {
    position: fixed;
    width: 10px;
    height: auto;
    padding: 3px 0 0 10px;
    content: url(svg/rewind-left.svg);
}
.epic-ui-svg-rightArrow {
    position: fixed;
    width: 10px;
    height: auto;
    padding: 3px 0 0 10px;
    content: url(svg/rewind-right.svg);
}

/*table ui*/

table.epic-ui-table {
    border-spacing: inherit;
    font-family: sans-serif;
    border-bottom: 5px solid #404d6c;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 2px;
    /*    box-shadow: 0 0 3px black;*/
    width: 100%;
}
table.epic-ui-table > tbody {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
table.epic-ui-table > caption {
    position: relative;
    background-color: white;
    border-bottom: 2px solid #1fb7ff;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;
    /* height: 30px; */
    font-weight: bold;
    box-shadow: 0px 1px 2px 0px black;
}
table.epic-ui-table > thead > tr >th {
    background-color: #4caf50;
    background: rgb(96, 108, 136);
    background: -moz-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
    background: linear-gradient(to bottom, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0);
}
table.epic-ui-table >thead >tr > th {
    /*    border-right: 1px solid white;*/
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    color: white;
}
table.epic-ui-table >thead >tr > th:hover,
table.epic-ui-table >thead >tr > th:active,
table.epic-ui-table >thead >tr > th:focus {
    background-color: #009688;
    background: rgb(79, 133, 187);
    background: -moz-linear-gradient(top, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
    background: linear-gradient(to bottom, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb', GradientType=0);
}
table.epic-ui-table >thead >tr > th:last-Child {
    border-right: 0px solid white;
}
table.epic-ui-table >tbody >tr> td {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    border-right: 1px solid white;
}
table.epic-ui-table >tbody >tr> td:last-Child {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    border-right: 0px solid white;
}
table.epic-ui-table >tbody >tr:nth-child(n+1):hover {
    background-color: #ffffff;
}
table.epic-ui-table >tbody >tr:nth-child(2n+1) {
    background-color: #dadfea;
}
table.epic-ui-table >tbody >tr:nth-child(2n+2) {
    background-color: #f3f3f3;
}

/*pagination*/

.epic-ui-pager {
    background-color: #55617e;
    text-align: center;
    padding: 4px 0px 5px 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
.epic-ui-pager > .epic-ui-pagenumber {
    color: white;
    background-color: #55617e;
    /* border: 2px solid #55617e; */
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
    margin: 0px 3px 0px 0px;
    cursor: pointer;
    transition: 0.3s;
}
.epic-ui-pager > .epic-ui-pagenumber:hover {
    background-color: #2c3e50;
    color: white;
}
.epic-ui-pager > .epic-ui-active {
    color: #000000;
    background-color: #ffffff;
}
.epic-ui-pager > .epic-ui-pageup {
    margin: 0 5px 0 0px;
    background: #404d6c;
    color: white;
    padding: 4px 10px 5px 10px;
    cursor: pointer;
    font-family: monospace;
}
.epic-ui-pager > .epic-ui-pageup:hover,
.epic-ui-pager > .epic-ui-pagedown:hover {
    background-color: #00BCD4;
}
.epic-ui-pager > .epic-ui-pagedown {
    margin: 0 0px 0 5px;
    background: #404d6c;
    color: white;
    padding: 4px 10px 5px 10px;
    cursor: pointer;
    font-family: monospace;
}
.epic-ui-pager > .epic-ui-recordCount {
    margin: 0 5px 0 -50px;
    padding: 0 3px 0 3px;
    border: 1px solid #dadfea;
    color: #dadfea;
}
.epic-ui-pager > .epic-ui-numOfRows {
    margin: 0 0px 0 5px;
    background: gray;
    color: white;
    padding: 4px 10px 5px 10px;
    font-family: sans-serif;
    font-size: 11px;
}
.epic-ui-pager > .epic-ui-numOfRows >.epic-ui-showRowClick {
    background: #4f5c79;
    color: #ffffff;
    margin: 1px;
    padding: 2px 3px 3px 3px;
    cursor: pointer;
}
.epic-ui-pager > .epic-ui-numOfRows >.epic-ui-showRowClick:hover {
    background: #f3f3f3;
    color: black;
}
.epic-ui-hide {
    display: none;
}
.epic-ui-unhide {
    display: "";
}
